  <h3>Add new option</h3>
<%= simple_form_for(@option, html: { class: 'form-horizontal'}) do |f| %>
  <%= f.input :subject_id, :as => 'hidden', :value => @subject.id %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>
      <ul>
      <% @option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= render :partial => '/uploads/basic', :locals => {:type => 'option'} %>
  <%= f.input :thumb, :as => 'hidden' %>
  <div class="form-group">
    <%= f.label :select_counts %><br>
    <%= f.number_field :select_counts %>
  </div>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>
