<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.number_field :subject %>
  </div>
  <div class="field">
    <%= f.label :thumb %><br>
    <%= f.text_field :thumb %>
  </div>
  <div class="field">
    <%= f.label :select_counts %><br>
    <%= f.number_field :select_counts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
