  <h3>Option items</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Thumb</th>
      <th>Select counts</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.title %></td>
        <td><%= option.thumb %></td>
        <td><%= option.select_counts %></td>
        <td><%= link_to 'Show', option %></td>
        <td><%= link_to 'Edit', edit_option_path(option) %></td>
        <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>