<%= simple_form_for(@subject, html: { class: 'form-horizontal', onsubmit: 'checkform()'}) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :name %>
    <%= f.input :topic %>
    <%= f.association :user, label_method: :email, value_method: :id, prompt: "Choose a User"%>

    <%= render :partial => '/uploads/basic' %>

    <%= f.simple_fields_for :subject_datum do |data_form| %>
      <%= data_form.input :topic_img, as: :hidden %>
      <%= data_form.input :description %>
      <%= data_form.input :start_time, as: :datetime %>
      <%= data_form.input :end_time, as: :datetime %>
      <%= data_form.input :template %>
      <%= data_form.input :style, as: :select, collection: [ "Red", "Blue", "green", "yellow" ], prompt: "Choose a style" %>
      <%= data_form.input :type %>
    <% end %>


    <%= f.button :submit, name: 'commit'%>

<% end %>
<script>
function checkform(){
  if ($('#subject_subject_datum_topic_img') != ''){
    return true;
  }else{
    return false;
  }
}
</script>
